<!DOCTYPE html>
<html lang="en">
<head>
    <title>DevBook - Bootstrap 4 Book/eBook Landing Page Template For Developers</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap 4 Book/eBook Landing Page Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:400,400i,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">

</head>

<body>
    <header class="header">
        <div class="branding">
            <div class="container-fluid position-relative py-3">
                <div class="logo-wrapper">
	                <div class="site-logo"><a class="navbar-brand" href="index.html"><img class="logo-icon mr-2" src="assets/images/site-logo.svg" alt="logo"><span class="logo-text">Professor Diego Mota</span></a></div>
                </div><!--//docs-logo-wrapper-->

            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->

    <section class="hero-section">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
				    <div class="promo pr-md-3 pr-lg-5">
					    <h1 class="headline mb-3">
						    Ebook Grátis sobre <br> mercado financeiro
					    </h1><!--//headline-->
					    <div class="subheadline mb-4">
						    Nesse ebook respondo as 10 principais dúvidas que recebo sobre mercado financeiro. Acredito que será um guia importante na sua caminhada como <strong>Investidor Fundamentalista</strong>.
					    </div><!--//subheading-->

					    <div class="cta-holder">
						    <a class="btn btn-primary mr-lg-2" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devbook-free-bootstrap-4-book-ebook-landing-page-template-for-developers/">Download Grátis</a>
						    <a class="btn btn-secondary scrollto" href="#benefits-section">Saiba Mais</a>

					    </div><!--//cta-holder-->

					    <div class="hero-quotes mt-5">
						    <div id="quotes-carousel" class="quotes-carousel carousel slide carousel-fade mb-5" data-ride="carousel" data-interval="8000">
								<ol class="carousel-indicators">
									<li data-target="#quotes-carousel" data-slide-to="0" class="active"></li>
									<li data-target="#quotes-carousel" data-slide-to="1"></li>
									<li data-target="#quotes-carousel" data-slide-to="2"></li>
								</ol>

							    <div class="carousel-inner">
								    <div class="carousel-item active">
								        <blockquote class="quote p-4 theme-bg-light">
									        "Excellent Book! Add your book reviews here consectetur adipiscing elit. Aliquam euismod nunc porta urna facilisis tempor. Praesent mauris neque, viverra quis erat vitae, auctor imperdiet nisi."
								        </blockquote><!--//item-->
								        <div class="source media flex-column flex-md-row align-items-center">
									        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-1.png" alt="">
									        <div class="source-info media-body text-center text-md-left">
										        <div class="source-name">James Doe</div>
										        <div class="soure-title">Co-Founder, Startup Week</div>
										    </div>
								        </div><!--//source-->
								    </div><!--//carousel-item-->
								    <div class="carousel-item">
								        <blockquote class="quote p-4 theme-bg-light">
									        "Highly recommended consectetur adipiscing elit. Proin et auctor dolor, sed venenatis massa. Vestibulum ullamcorper lobortis nisi non placerat praesent mauris neque"
								        </blockquote><!--//item-->
								        <div class="source media flex-column flex-md-row align-items-center">
									        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-2.png" alt="">
									        <div class="source-info media-body text-center text-md-left">
										        <div class="source-name">Jean Doe</div>
										        <div class="soure-title">Senior Developer, Ipsum Company</div>
										    </div>
								        </div><!--//source-->
								    </div><!--//carousel-item-->
								    <div class="carousel-item">
								        <blockquote class="quote p-4 theme-bg-light">
									        "Awesome! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod nunc porta urna facilisis tempor. Praesent mauris neque, viverra quis erat vitae."
								        </blockquote><!--//item-->
								        <div class="source media flex-column flex-md-row align-items-center">
									        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-3.png" alt="">
									        <div class="source-info media-body text-center text-md-left">
										        <div class="source-name">Andy Doe</div>
										        <div class="soure-title">Frontend Developer, Company Lorem</div>
										    </div>
								        </div><!--//source-->
								    </div><!--//carousel-item-->
								</div><!--//carousel-inner-->
							</div><!--//quotes-carousel-->

					    </div><!--//hero-quotes-->
				    </div><!--//promo-->
			    </div><!--col-->
			    <div class="col-12 col-md-5 mb-5 align-self-center">
				    <div class="book-cover-holder">
					    <img class="img-fluid book-cover" src="assets/images/devbook-cover.png" alt="book cover">
					    <div class="book-badge d-inline-block shadow">
						    Novo<br>Ebook
					    </div>
				    </div><!--//book-cover-holder-->
				    <div class="text-center"><a class="theme-link scrollto" href="#reviews-section">See all book reviews</a></div>
			    </div><!--col-->
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//hero-section-->

    <section id="benefits-section" class="benefits-section theme-bg-light-gradient py-5">
	    <div class="container py-5">
		    <h2 class="section-heading text-center mb-3">O Que Você Vai Aprender Neste Curso?</h2>
		    <div class="section-intro single-col-max mx-auto text-center mb-5">Os conceitos básicos e mais avançados do <strong>mercado financeiro</strong> e as minhas mais avançadas estratétigias de investimento, passo a passo, de forma detalhada. </div>
		    <div class="row text-center">
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fas fa-list-ol"></i></div>
						    <h3 class="item-heading">MÓDULO 1: CONCEITOS BÁSICOS</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    Módulo de nivelamento que aborda conceitos básicos sobre bolsa de valores, principalmente para aqueles que nunca tiveram contato com mercado financeiro.
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fas fa-exchange-alt"></i></div>
						    <h3 class="item-heading">MÓDULO 2: NOÇÕES DE MERCADO</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    Noções gerais de mercado como política, macroeconomia, desemprego, dólar, inflação, etc...e suas influências nas empresas.
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="far fa-money-bill-alt"></i></div>
						    <h3 class="item-heading">MÓDULO 3: ANÁLISE FUNDAMENTALISTA</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    Análise de investimento dos maiores investidores do mundo, como Warren Buffett.
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fas fa-balance-scale-right"></i></div>
						    <h3 class="item-heading">MÓDULO 4: VALUATION</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    Métodos de precificação de ações.
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fas fa-chart-line"></i></div>
						    <h3 class="item-heading">MÓDULO 5: MINHA ESTRATÉGIA DE INVESTIMENTO (LEITURA DE MUNDO)</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    Passo a passo de como invisto no mercado financeiro, minha estratégia REVELADA.
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fas fa-star"></i></div>
						    <h3 class="item-heading">MÓDULO BÔNUS</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    Aplicação da minha estratégia de investimento em duas empresas como exemplos práticos (Skin in The Game).
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//benefits-section-->

    <section class="content-section">
	    <div class="container">
		    <div class="single-col-max mx-auto">
		    <h2 class="section-heading text-center mb-5">What's Included</h2>
			    <div class="row">
				    <div class="col-12 col-md-6">
					    <div class="figure-holder mb-5">
						    <img class="img-fluid" src="assets/images/devbook-devices.png" alt="image">
					    </div><!--//figure-holder-->
				    </div><!--//col-->
				    <div class="col-12 col-md-6 mb-5">
					    <div class="key-points mb-4 text-center">
						    <ul class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-left">
							    <li><i class="fas fa-check-circle mr-2"></i>List your book's content here.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>PDF fermentum tincidunt erat.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>EPUB curabitur fermentum.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Lorem ipsum dolor sit amet.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Praesent molestie odio risus. </li>
							    <li><i class="fas fa-check-circle mr-2"></i>Kindle curabitur fermentum.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Kindle curabitur fermentum.</li>
							    <li><i class="fas fa-check-circle mr-2"></i>Kindle curabitur fermentum.</li>
						    </ul>
						    <div class="text-center"><a class="btn btn-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devbook-free-bootstrap-4-book-ebook-landing-page-template-for-developers/">I want this book</a></div>
					    </div><!--//key-points-->

				    </div><!--//col-12-->
			    </div><!--//row-->
		    </div><!--//single-col-max-->
	    </div><!--//container-->
    </section><!--//content-section-->

    <section class="audience-section py-5">
	    <div class="container">
		    <h2 class="section-heading text-center mb-4">Who This Book Is For</h2>
		    <div class="section-intro single-col-max mx-auto text-center mb-5">
			    List your target readers in this section and back up with reviews. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie. Vivamus hendrerit nisi condimentum erat tempus, vitae accumsan odio euismod.
		    </div><!--//section-intro-->
		    <div class="audience mx-auto">
			    <div class="item media">
				    <div class="item-icon mr-3"><i class="fas fa-user-check"></i></div>
				    <div class="media-body">
					    <h4 class="item-title">Software Developers</h4>
					    <div class="item-desc">Learn lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie.</div>
				    </div><!--//media-body-->
			    </div><!--//item-->
			    <div class="item media">
				    <div class="item-icon mr-3"><i class="fas fa-user-check"></i></div>
				    <div class="media-body">
					    <h4 class="item-title">App Developers</h4>
					    <div class="item-desc">Learn lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie.</div>
				    </div><!--//media-body-->
			    </div><!--//item-->
			    <div class="item media">
				    <div class="item-icon mr-3"><i class="fas fa-user-check"></i></div>
				    <div class="media-body">
					    <h4 class="item-title">Web Developers</h4>
					    <div class="item-desc">Learn lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie.</div>
				    </div><!--//media-body-->
			    </div><!--//item-->
			    <div class="item media">
				    <div class="item-icon mr-3"><i class="fas fa-user-check"></i></div>
				    <div class="media-body">
					    <h4 class="item-title">Product Designers</h4>
					    <div class="item-desc">Learn lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie.</div>
				    </div><!--//media-body-->
			    </div><!--//item-->
		    </div><!--//audience-->
	    </div><!--//container-->
    </section><!--//audience-section-->

    <section class="form-section">
	    <div class="container">
		    <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
			    <h2 class="form-heading text-center">Get A Free Preview</h2>
			    <div class="form-intro text-center mb-3">Sign up to get a free preview of the book. <br>You can offer visitors free book previews to generate leads.</div>
			    <div class="form-wrapper">
				    <form class="form-inline justify-content-center flex-wrap">
						<div class="form-group mr-md-2 mb-3 mb-md-0">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control " id="email" placeholder="Your Email">
						</div>
						<button type="submit" class="btn btn-primary btn-submit mb-3 mb-md-0">Send</button>
					</form>
			    </div><!--//form-wrapper-->
		    </div><!--//lead-form-wrapper-->
	    </div><!--//container-->
    </section><!--//form-section-->

    <section id="reviews-section" class="reviews-section py-5">
	    <div class="container">
		    <h2 class="section-heading text-center">Depoimentos</h2>
		    <div class="section-intro text-center single-col-max mx-auto mb-5">o que pessoas que já fizeram o curso disseram</div>
		    <div class="row justify-content-center">
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">

					    <blockquote class="quote">
					        "Excellent Book! Add your book review here consectetur adipiscing elit. Aliquam euismod nunc porta urna facilisis tempor. "
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-1.png" alt="">
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">James Doe</div>
						        <div class="soure-title">Co-Founder, Startup Week</div>
						    </div>
				        </div><!--//source-->
				        <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Great Book! Add your book review here consectetur adipiscing elit. Aliquam euismod nunc porta urna facilisis tempor. Praesent mauris neque."
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-2.png" alt="">
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Jean Doe</div>
						        <div class="soure-title">Co-Founder, Company Tristique</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Excellent Book! Add your book review here consectetur adipiscing elit. Pellentesque ac leo turpis. Phasellus imperdiet id ligula tempor imperdiet."
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-3.png" alt="">
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Tom Doe</div>
						        <div class="soure-title">Product Designer, Company Lorem</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Another book review here consectetur adipiscing elit. Pellentesque ac leo turpis. Phasellus imperdiet id ligula tempor imperdiet."
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-4.png" alt="">
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Alice Doe</div>
						        <div class="soure-title">App Developer, Company Ipsum</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-lg-4 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">
					    <blockquote class="quote">
					        "Another book review here consectetur adipiscing elit. Pellentesque ac leo turpis. Phasellus imperdiet id ligula tempor imperdiet."
				        </blockquote><!--//item-->
				        <div class="source media flex-column flex-md-row align-items-center">
					        <img class="source-profile mr-md-3" src="assets/images/profiles/profile-5.png" alt="">
					        <div class="source-info media-body text-center text-md-left">
						        <div class="source-name">Sam Doe</div>
						        <div class="soure-title">Co-Founder, Company Integer</div>
						    </div>
				        </div><!--//source-->
				         <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
		    </div><!--//row-->
		    <div class="text-center">
		        <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devbook-free-bootstrap-4-book-ebook-landing-page-template-for-developers/">Get Your Copy Today</a>
		    </div>
	    </div><!--//container-->
    </section><!--//reviews-section-->

    <section class="author-section section theme-bg-primary py-5">
	    <div class="container py-3">
		    <div class="author-profile text-center mb-5">
			    <img class="author-pic" src="assets/images/profiles/author-profile.png" alt="image">
		    </div><!--//author-profile-->
		    <h2 class="section-heading text-center text-white mb-3">Sobre O Professor Diego Mota</h2>
		    <div class="author-bio single-col-max mx-auto">
					<p>Olá! Sou o Diego e aqui conto um pouco sobre mim e minha trajetória até aqui.</p>
					<p>Sou <strong>investidor da bolsa de valores</strong> desde 2012 e professor universitário dos cursos de engenharia, administração, sistemas de informação e economia, com formação em matemática e doutorado em engenharia de produção.</p>
					<p>Estudei com os principais investidores e professores do mercado financeiro no Brasil e exterior. Tudo isso para melhorar cada vez mais a <strong>MINHA ESTRATÉGIA DE INVESTIMENTO</strong>.</p>
					<p>E após muita pesquisa e prática (Skin in the Game), criei um método de investimento que me trouxe excelentes ganhos e que compartilho com meus alunos. É o método <strong>LEITURA DE MUNDO</strong>.</p>
					<p>Desde junho de 2019, estou me dedicando a levar todo o conhecimento adquirido ao longo dos anos para o máximo de pessoas possíveis, produzindo conteúdos sobre investimentos através do Instagram (<a class="theme-link" href="https://www.instagram.com/professordiegomota/" target="_blank"><strong>@professordiegomota</strong></a>) e do podcast <a class="theme-link" href="https://open.spotify.com/show/6asYTQtjx71sr7OjMP0LIY" target="_blank"><strong>Leitura de Mundo</strong></a>.</p>

			    <div class="author-links text-center pt-4">
			      <h5 class="text-white mb-4">Siga Nas Redes</h5>

				    <ul class="social-list list-unstyled">
					    <li class="list-inline-item"><a href="https://www.facebook.com/aleiturademundo/"><i class="fab fa-facebook"></i></a></li>
					    <li class="list-inline-item"><a href="https://www.instagram.com/professordiegomota/"><i class="fab fa-instagram"></i></a></li>
			        <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCYZNiPOAIJiD57LpQE_QRwQ"><i class="fab fa-youtube"></i></a></li>
			      </ul><!--//social-list-->
			    </div><!--//author-links-->

		    </div><!--//author-bio-->

	    </div><!--//container-->
    </section><!--//author-section-->



    <footer class="footer">

	    <div class="footer-bottom text-center py-5">

	        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="theme-link" href="https://github.com/marcosserpa" target="_blank">Xiaoying Riley</a> for developers</small>

	    </div>

    </footer>

    <!-- Javascript -->
    <script src="assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/jquery.scrollTo.min.js"></script>
    <script src="assets/plugins/back-to-top.js"></script>

    <script src="assets/js/main.js"></script>

</body>
</html>

